/*
 * Stardew Valley Pixel UI - Sprite Integration
 * All decorative elements have been disabled
 */

/* ============================================
   SPRITE DECORATIONS - DISABLED
   ============================================ */

/* All sprite decorations have been removed */
