/*
 * Stardew Valley Scroll & Parchment Styles
 * All decorative elements have been disabled
 */

/* ============================================
   SCROLL DECORATIONS - DISABLED
   ============================================ */

/* All scroll decorations have been removed */
