/*
 * Stardew Valley Crop Growth Progress System
 * All decorative elements have been disabled
 */

/* ============================================
   CROP PROGRESS DECORATIONS - DISABLED
   ============================================ */

/* All crop progress decorations have been removed */
