/*
 * Stardew Valley Seasonal Decorations
 * All decorative elements have been disabled
 */

/* ============================================
   SEASONAL DECORATIONS - DISABLED
   ============================================ */

/* All seasonal decorations have been removed */
